# Markdown & rendering
markdown==3.6
pymdown-extensions==10.7

# CSV → table
pandas==2.2.2
tabulate==0.9.0

# Markdown link parsing
linkify-it-py==2.0.3
# HTML / PDF
beautifulsoup4==4.12.3
selenium==4.18.1